<app-dashboard></app-dashboard>
<nav style="background-color: #198755;">
    <div class="container-fluid" style="padding: 10px">
        <h1 style="text-align: center; color: white;">Gestión de Clientes</h1>
    </div>
</nav>

<div class="col-md-12 p-2">
    <div class="mb-3">
        <input type="text" id="filter" #filterInput placeholder="Buscar por Nombre" [(ngModel)]="filterTerm" style="width: 300px;">
        <button type="button" class="btn btn-primary btn-sm" style="margin-left: 20px;"(click)="filterCategories()">Filtrar</button>
        <button type="button" class="btn btn-success btn-sm" style="margin-left: 10px;" (click)="list()">Ver Lista Completa</button>
    </div>
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-user"></i> Nuevo Cliente</button>
    <table class="table mt-2 table-bordered">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Razon Social</th>
                <th>RUC</th>
                <th>Correo</th>
                <th>Contacto</th>
                <th>Direccion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listClient">
                <td>{{item.id}}</td>
                <td>{{item.razonSocial}}</td>
                <td>{{item.ruc}}</td>
                <td>{{item.correo}}</td>
                <td>{{item.contacto}}</td>
                <td>{{item.direccion}}</td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectItem(item)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-danger btn-sm" (click)="delete(item.id)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- TODO: Modals -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 *ngIf="!isUpdate" class="modal-title fs-5">Nueva Categoria</h1>
                <h1 *ngIf="isUpdate" class="modal-title fs-5">Actualizar Categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="newClient()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formClient">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="razonSocial">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">RUC</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="ruc">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Correo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="correo">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Contacto</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="contacto">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Direccion</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="direccion">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" (click)="newClient()" >Cerrar</button>
                <button *ngIf="!isUpdate" type="button" class="btn btn-success btn-sm" (click)="save()">Guardar</button>
                <button *ngIf="isUpdate" type="button" class="btn btn-warning btn-sm" data-bs-dismiss="modal" (click)="update()">Actualizar</button>
            </div>
        </div>
    </div>
</div>
