<app-dashboard></app-dashboard>
    <nav  style="background-color: #198755;">
        <div class="container-fluid" style="padding: 10px">
              <h1 style="text-align: center; color: white;">Gestión de Entradas</h1>
        </div> 
    </nav>
    
    <div class="col-md-12 p-2">
      <div class="mb-3">
        <input type="date" id="start" [(ngModel)]="startDate" [(ngModel)]="fechaInicio" style="width: 250px;">
        <input type="date" id="end" [(ngModel)]="endDate" [(ngModel)]="fechaFin" style="width: 250px;">
        <button type="button" class="btn btn-primary btn-sm" style="margin-left: 20px;"(click)="filterCategories()">Filtrar por Fechas</button>
        <button type="button" class="btn btn-success btn-sm" style="margin-left: 10px;" (click)="list()">Ver Lista Completa</button>
      </div>
        <!-- <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="establecerFechaActual()"><i class="fa fa-user"></i>  Nueva Entrada</button> -->
        <div id="tableToPDF">
        <table class="table mt-2 table-bordered">
            <thead class="table-primary">
              <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Tipo Pago</th>
                <th>Estado</th>
                <th>Recepcionado por:</th>
                <th>Autorizado por:</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listIncome">
                <td>{{item.id}}</td>
                <td>{{item.fecha}}</td>
                <td>{{item.tipoPago}}</td>
                <td>{{item.estado}}</td>
                <td>{{item.userNombre}}</td>
                <td>{{item.userAuthNombre}}</td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectItem(item)" >
                        <i class="fa fa-pencil"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-danger btn-sm" (click)="delete(item.id)">
                        <i class="fa fa-trash"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-success btn-sm" (click)="auth(item.id)" [disabled]="item.estado">
                        <i class="fa fa-check"></i>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<!-- TODO: Modals -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 *ngIf="!isUpdate" class="modal-title fs-5">Nueva Entrada</h1>
                <h1 *ngIf="isUpdate" class="modal-title fs-5">Actualizar Entrada</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="newIncome()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formIncome">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Fecha</label>
                        <div class="col-sm-10">
                            <input type="date" id="fechaActual" class="form-control" formControlName="fecha" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Tipo de Pago</label>
                        <div class="col-sm-10">
                            <select class="form-select" formControlName="tipoPago">
                                <option value="Efectivo">Efectivo</option>
                                <option value="Transferencia">Transferencia</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" (click)="newIncome()">Cerrar</button>
                <button *ngIf="!isUpdate" id="modal2" type="button" class="btn btn-success btn-sm"
                    data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="save()">Guardar</button>
                <button *ngIf="isUpdate" type="button" class="btn btn-warning btn-sm" data-bs-dismiss="modal" (click)="update()">Actualizar</button>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-danger btn-sm" (click)="generatePDF()">Generar PDF</button>